<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  well">

    <div *ngIf="error" class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Title!</strong> Alert body ...
    </div>

    <app-form *ngIf="questions" [questions]="questions" (payLoad)="save($event)"></app-form>
</div>

<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Title!</strong> Alert body ...
    </div>

</div>