<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well">
            <button type="button" class="btn btn-large btn-primary">View history</button>

            <button type="button" class="btn btn-large btn-primary" data-toggle="modal" data-target="#deposit">Deposit</button>

            <button type="button" class="btn btn-large btn-primary" data-toggle="modal" data-target="#withdraw">Withdraw</button>
        </div>
    </div>
    <div class="row row-detail">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
            <div class="detail-card">
                <div class="thumbnail">
                    <img data-src="#" alt="">
                    <div class="caption">
                        <h4>Name</h4>
                        <p>
                            Son John
                        </p>
                    </div>
                </div>
                <div class="thumbnail">
                    <div class="caption details">
                        <p><span><b>Balance :</b></span> 400,000 /=</p>
                        <p><span><b>Last withdarw date: </b></span>15/04/2017</p>
                        <p><span><b>Last withdraw amount : </b></span>100,000</p>
                        <p><span><b>Last deposit date :</b></span>27/12/2017 </p>
                        <p><span><b>Last Deposit amount :</b></span> 400, 000 /= </p>
                        <p>
                            <a class="btn btn-primary " (click)="LoadDeposit()">Action </a>
                            <a href="#" class="btn btn-default">Action</a>
                            <a href="#" class="btn btn-default">Action</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
            <div class="detail-card">
                <div class="thumbnail">
                    <img data-src="#" alt="">
                    <div class="caption">
                        <h4>Name</h4>
                        <p>
                            Son John
                        </p>
                    </div>
                </div>
                <div class="thumbnail">
                    <div class="caption details">
                        <p><span><b>Balance :</b></span> 400,000 /=</p>
                        <p><span><b>Last withdarw date: </b></span>15/04/2017</p>
                        <p><span><b>Last withdraw amount : </b></span>100,000</p>
                        <p><span><b>Last deposit date :</b></span>27/12/2017 </p>
                        <p><span><b>Last Deposit amount :</b></span> 400, 000 /= </p>
                        <p>
                            <a href="#" class="btn btn-primary">Action</a>
                            <a href="#" class="btn btn-default">Action</a>
                            <a href="#" class="btn btn-default">Action</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deposit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <app-form *ngIf="questions" [questions]="questions" (payLoad)="save($event)"></app-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="withdraw" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <app-form *ngIf="questions" [questions]="questions" (payLoad)="save($event)"></app-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>