<div class="row">
        <div class="col-md-6">
                <ng-container *ngIf="IsView">
                    <app-form *ngIf="IsView" [questions]="entityQuestions" (payLoad)="saveEntity($event)"></app-form>
                </ng-container>
              </div>
  <div class="col-md-10">
    <div class="table-responsive">
      <table class="table table-hover">
          <!-- *ngIf="!IsView"> -->
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Edit</th>
                  <th>Add Fields</th>
                  <th>Delete</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let et of entity">
                  <td> #{{et.id}} 
                      {{ et.name }}</td>
                  <td>
                      <a [ngClass]="{'glyphicon':true,'glyphicon-remove-sign':!et.active,
                     'glyphicon-ok-sign':et.active}" data-toggle="modal" data-target="#addUser" (click)="Status(et.id)" role="button"></a>
                  </td>
                  <td>
                      <a class="btn btn-info btn-xs" (click)="Edit(et.id)" role="button">Account</a>
                  </td>
                  <td>
                      <a class="btn btn-info btn-xs" [routerLink]="['/reportbuilder/field', et.id]" role="button">Add ( {{et.fields.length}} )</a>
                  </td>
                  <td>
                    <a class="btn btn-info btn-xs" (click)="Delete(et.id)" role="button">Delete</a>
                </td>
              </tr>
          </tbody>
      </table>
  </div>
  </div>
 
</div>
