<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well">
         
          <a [routerLink]="['home']" class="btn btn-large btn-primary">
            Home
        </a>
  
          <a [routerLink]="['apply']" class="btn btn-large btn-primary">
            Apply For Loan
        </a>
        <a [routerLink]="['approve']" class="btn btn-large btn-primary">
          Approve Loan
      </a>
          <button type="button" class="btn btn-large btn-primary" data-toggle="modal" data-target="#withdraw">Pay loan</button>
      </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <router-outlet></router-outlet>
</div>
  </div>